* {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #EAAF02;
    height: 100vh;
}

.glogo {
    color: black;
    font-size: 2.5rem;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none; 
}


.design {
    /* background-color: aliceblue; */
    width: 52%;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px auto;
    line-height: 5rem;
}

.design2 {
    /* background-color: aliceblue; */
    color: white;
    width: 52%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    line-height: 2rem;
}

